# Node.js

node_modules/
npm-debug.log
yarn-error.log
public/*
# Logs
logs/
*.log
*.log.*

.next/
.cache/
.vscode/



# Backend
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
/backend/__pycache__/
/backend/*.py[cod]
/backend/*.so
/backend/*.egg
/backend/*.egg-info/
/backend/.eggs/
/backend/*.pyo
/backend/*.pyd
/backend/.Python
/backend/build/
/backend/develop-eggs/
/backend/dist/
/backend/downloads/
/backend/eggs/
/backend/lib/
/backend/lib64/
/backend/parts/
/backend/sdist/
/backend/var/
/backend/*.manifest
/backend/*.spec
/backend/pip-log.txt
/backend/pip-delete-this-directory.txt
/backend/htmlcov/
/backend/.tox/
/backend/.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/